<ng-template #loginDialog>
  <div class="login-dialog">
    <div class="login-dialog__line">
      <button mat-raised-button
              (click)="loginOrLogout()">
        <div class="google-login">
          <img alt="Angular Logo"
               [src]="buttonInfo().buttonImageUrl">
          <strong class="google-login-text"> {{ buttonInfo().buttonText }} </strong>
        </div>
      </button>
    </div>
    <div class="login-dialog__line">
      <button mat-raised-button
              (click)="closeLoginDialog()"
              color="primary">
        <strong>Agora não</strong>
      </button>
    </div>
  </div>
</ng-template>
