<mat-progress-bar *ngIf="loading()"
                  mode="indeterminate">
</mat-progress-bar>
<!-- MENU CONTENT -->
<mat-menu #menu="matMenu">
  <button mat-menu-item
          *ngIf="isAnyUser()">Alterar Dados</button>
  <button mat-menu-item
          [routerLink]="['login']">{{ isAnyUser() ?  'Sair' : 'Cadastrar/Entrar' }}</button>
</mat-menu>
<!-- MENU CONTENT -->
<header>
  <button mat-icon-button
          [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <form class="input-group mb-3">
    <input type="text"
           [ngModelOptions]="{standalone: true}"
           class="form-control"
           [(ngModel)]="searchedValue"
           placeholder="Encontre os profissionais mais perto!"
           aria-label="Encontre os profissionais mais perto!"
           aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary"
              mat-icon-button
              (click)="search()"
              type="submit"
              id="button-addon2">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </form>

  <img alt="Angular Logo"
       src="assets/images/logo.png">
</header>

<h5 *ngIf="isAnyUser()">
  Bem vindo(a), {{ userName() }}
</h5>

<div class="card-area">
  <app-card *ngFor="let item of data"
            [clientInfo]="item">
  </app-card>
</div>

<footer>

</footer>

<router-outlet></router-outlet>
