<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar
         src="assets/images/avatar.png"
         class="example-header-image">
    <mat-card-title> {{ clientInfo.name }} </mat-card-title>
    <mat-card-subtitle> {{ clientInfo.area }} </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
       src="assets/images/example.jpg"
       alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{ clientInfo.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
