<ng-template #registerDialog>
  <div class="register-dialog">
    <form *ngIf="form"
          class="input-group"
          [formGroup]="form">
      <div class="row form-group">
        <label> Nome do Cliente </label>
        <input type="text"
               formControlName="name"
               class="form-control">
      </div>
      <div class="row form-group">
        <label>Email</label>
        <input type="text"
               formControlName="email"
               class="form-control">
      </div>
      <div class="row form-group">
        <label>Descrição</label>
        <textarea type="text"
                  formControlName="description"
                  class="form-control">
               </textarea>
      </div>
      <div class="row form-group">
        <label>Telefone</label>
        <input type="text"
               formControlName="phone"
               class="form-control">
      </div>
      <div class="form-group">
        <label class="row">Data de Nascimento</label>
        <div class="flex-nowrap row">
          <input class="form-control"
                 [matDatepicker]="dp3"
                 formControlName="birthDate">
          <div class="input-group-append">
            <mat-datepicker-toggle matSuffix
                                   [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3
                            disabled="false"></mat-datepicker>
          </div>
        </div>
      </div>
    </form>

    <div class="button-area"
         (click)="closeRegisterDialog()">
      <button mat-raised-button>
        Sair
      </button>
      <button mat-raised-button
              color="primary"
              (click)="onSaveData()">
        Salvar
      </button>
    </div>
  </div>
</ng-template>
