.register-dialog {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 67vw;
  max-width: 600px;
  max-height: 800px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  form {
    width: 100%;
    padding: 1rem;
    display: block;

    .register-image-button {
      position: absolute;
      margin-left: 1rem;
      margin-top: 1rem;
      cursor: pointer;
      opacity: 0.8;
    }

    .register-image-preview {
      max-width: 100%;
      border-radius: 4px;
    };
  }

  &__line {
    display: flex;
  }

  .button-area {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }
}
